body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #ffc3c3;
}
.logo-menu {
    display: flex;
    align-items: center;
    gap: 8px;
}
.logo-name {
    display: flex;
    align-items: center;
    gap:8px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
}
.menu ul {
    display: flex;
    list-style: none;
    gap: 24px;
}
.btn-primary {
    background: #2207ba;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
    border: none;
}
.btn-secondary {
    background: #ffffff;
    color: #2207ba;
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
    border : 1px solid #2207ba
}
footer {
    background: #c6d6ff;
}
.container {
    background: #fcffb4;
}
